body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    .header{
    align-items: center;
    display:flex;
    background-color: #00A811;
    width: 100%;
    height: 70px;
    box-shadow: 5px 5px 5px 10px #004707c0;
}
.top-logo{
    margin-right: auto;
    height: 50px;
    width: 80px;
    margin-left: 10px;
}
.header-middle{
    margin:auto;
    text-align: center;
}
.header-middletext{
    margin-left: 450px;
    font-size: 30px;
    color:white;
    font-weight: bolder;
}
.header-bottom{
    display:flex;
    margin-left: auto;
}
.perfil-img{
    height: 50px;
    width: 50px;
}
.perfil-text{
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
}
.top-rectangles{
    margin-left:35px;
    padding: auto;
    display:flex;
    gap: 100px;
}
    h1 {
      margin: 0;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    p {
      line-height: 1.6;
    }

    .logo {
      display: block;
      margin: 20px auto;
      max-width: 200px;
    }
