*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
	 }
       body{
	   margin::0;
	   font-family:arial;
	   background-color::white;
	    }
		 
       
		
		header h1{
		text-align:center;
		color:white;
		background:green;
		padding:30px;
		font-size:30px;
		box-shadow: 5px 5px 5px 10px #004707c0;
		 }
		
			 .row{
			 padding: 0 135px;
			 display:table;
			  }
			 section{
			 float:left;
			 width:100%;
			  }
			 
			   .card{
			   background-color:rgba(217, 217, 217, 1);
			   padding:40px;
			   margin-top:20px;
			   border-radius:30px;
			   width:950px;
			   height:250px;
			    }
		
			@media screen and (max-width: 768px){
			section{
			width:100%;
			padding:0;
			 }
			 }
