*{
    margin: 0;
    padding: 0;
}

.Clientes{
    margin-right: 20px;
    margin-top: 90px;
    display: grid;
    height: 30px;
    padding: 10px;
    grid-template-columns: repeat(2, 150px); 
    row-gap: 50px;
    text-shadow: #4b4a4a 2px 2px 0.2rem;
}


.logo{
    border: 15cm;
    width: 100px;
    margin-top: 20px;
    background: left / cover url('logo.png');
    display: flex;
    height: 100px;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color: white;
    text-shadow: #000 2px 2px 0.2rem;
}



.header{
    align-items: center;
    display:flex;
    background-color: #00A811;
    width: 100%;
    height: 70px;
    box-shadow: 5px 5px 5px 10px #004707c0;
}
.top-logo{
    margin-right: -40px;
    height: 50px;
    width: 80px;
    margin-left: 10px;
}
.header-middle{
    margin:auto;
    text-align: center;
}
.header-middletext{
    margin-left: 450px;
    font-size: 30px;
    color:white;
    font-weight: bolder;
}
.header-bottom{
    display:flex;
    margin-left: -40px;
}
.perfil-img{
    border: 15cm;
    height: 50px;
    width: 50px;
}
.perfil-text{
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

.men{
padding: 0;
margin: 0;
display: flex;
height: 10px;
gap: 350px;
margin-top: 50px;
margin-left: 130px;
}



.men2{
    gap:100px;
    display:flex;
    margin-left: 50px;

}
table{
    width: 100%;
    margin-top: 45px;
    cursor: pointer;
}
table th {
    border: 5px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
td{
    border: 5px solid #ccc;
}

   
